node_modules
testData/encMultiEdit.crypt4gh
testData/encEditOdd.crypt4gh
testData/encEdit.crypt4gh
testData/encBlock.crypt4gh
testData/abcdEncrypted.crypt4gh
testData/ReEnc.crypt4gh
testData/Rearr_noEdit.crypt4gh
testData/Rearr_MultiEdit.crypt4gh
testData/Rearr_Edit.crypt4gh
testData/editplain.crypt4gh
testData/edit4.crypt4gh
testData/edit4values.crypt4gh
testData/ed.crypt4gh
testData/edit8values.crypt4gh
testData/edit6values.crypt4gh
testData/editCase3values.crypt4gh
source/decryption.js
testData/editOdd3.crypt4gh
testData/editOdd2.crypt4gh
testData/editOdd1.crypt4gh
testData/editOdd1_1.crypt4gh
testData/editCase4.crypt4gh
testData/editplain1.crypt4gh
testData/editCase7.crypt4gh
testData/editCase6.crypt4gh
testData/editCase71.crypt4gh
testData/editCase5.crypt4gh
testData/edit1.crypt4gh
testData/edit.crypt4gh
test/script.test.js
testData/bigData.crypt4gh
testData/ncbi_dataset.zip
testData/editCase11.crypt4gh
testData/editCase13.crypt4gh
testData/editCase12.crypt4gh
testData/readChunks.crypt4gh
testData/readChunksEdit.crypt4gh
testData/readChunksBlocks.crypt4gh
testData/chunkDecWantedBlocks.txt
testData/chunkDecEdits.txt
testData/chunkDecBlocks.txt
testData/chunkDec.txt
testData/chunkReencryption.crypt4gh
testData/chunkDecReencryption.txt
testData/chunkRearrangementEdit.crypt4gh
testData/chunkRearrangement.crypt4gh
testData/chunkDecRearrangementEdit.txt
testData/chunkDecRearrangement.txt
testData/pythonkompatibel.txt
testData/kompatibel.c4gh
testData/pythonTestEdit.crypt4gh
testData/pythonTest.crypt4gh
testData/pythonkompatibelRange.txt
testData/kompatibelRange.c4gh
test/8gb.crypt4gh
testData/1gb
testData/1gb.crypt4gh
testData/1gb.txt
testData/1gbcrypto
testData/1gblesen
testData/1gbls
testData/1gblsk
testData/1gblskh
testData/2mb
testData/2mb.crypt4gh
testData/2mb.txt
testData/2mbcrypto
testData/2mblesen
testData/2mbls
testData/2mblsk
testData/2mblskh
testData/8gb
testData/8gb.crypt4gh
testData/8gb.txt
testData/8gbcrypto
testData/8gblesen
testData/8gbls
testData/8gblsk
testData/8gblskh
testData/8gbohneschreiben
testData/16b.crypt4gh
testData/16gb
testData/16gb.crypt4gh
testData/16gb.txt
testData/16gbcrypto
testData/16gblesen
testData/16gbls
testData/16gblsk
testData/16gblskh
testData/16mb
testData/16mb.crypt4gh
testData/16mb.txt
testData/16mbcrypto
testData/16mblesen
testData/16mbls
testData/16mblsk
testData/16mblskh
testData/32kb
testData/32kb.crypt4gh
testData/32kb.txt
testData/32kbcrypto
testData/32kblesen
testData/32kbls
testData/32kblsk
testData/32kblskh
testData/32kbohneschreiben
testData/64gb
testData/64gb.crypt4gh
testData/64gb.txt
testData/64gbcrypto
testData/64gblesen
testData/64gbls
testData/64gblsk
testData/64gblskh
testData/128mb
testData/128mb.crypt4gh
testData/128mb.txt
testData/128mbcrypto
testData/128mblesen
testData/128mbls
testData/128mblsk
testData/128mblskh
testData/256kb
testData/256kb.crypt4gh
testData/256kb.txt
testData/256kbcrypto
testData/256kblesen
testData/256kbls
testData/256kblsk
testData/256kblskh
testData/abcd.crypt4gh
testData/Dec1gb
testData/Dec1gbcrypto
testData/Dec2mb
testData/Dec2mbcrypto
testData/Dec8gb
testData/Dec8gbcrypto
testData/Dec16gb
testData/Dec16gbcrypto
testData/Dec16mb
testData/Dec32kb
testData/Dec32kbcrypto
testData/Dec64gb
testData/Dec64gbcrypto
testData/Dec128mb
testData/Dec256kb
.gitignore
testData/writestream1gb
testData/editCase4values.crypt4gh
