node_modules
testData/encMultiEdit.crypt4gh
testData/encEditOdd.crypt4gh
testData/encEdit.crypt4gh
testData/encBlock.crypt4gh
testData/abcdEncrypted.crypt4gh
testData/ReEnc.crypt4gh
testData/Rearr_noEdit.crypt4gh
testData/Rearr_MultiEdit.crypt4gh
testData/Rearr_Edit.crypt4gh
testData/editplain.crypt4gh
testData/edit4.crypt4gh
testData/edit4values.crypt4gh
testData/ed.crypt4gh
testData/edit8values.crypt4gh
testData/edit6values.crypt4gh
testData/editCase3values.crypt4gh
source/decryption.js
testData/editOdd3.crypt4gh
testData/editOdd2.crypt4gh
testData/editOdd1.crypt4gh
testData/editOdd1_1.crypt4gh
testData/editCase4.crypt4gh
testData/editplain1.crypt4gh
testData/editCase7.crypt4gh
testData/editCase6.crypt4gh
testData/editCase71.crypt4gh
testData/editCase5.crypt4gh
testData/edit1.crypt4gh
testData/edit.crypt4gh
test/script.test.js
testData/bigData.crypt4gh
testData/ncbi_dataset.zip
testData/editCase11.crypt4gh
testData/editCase13.crypt4gh
testData/editCase12.crypt4gh
testData/readChunks.crypt4gh
testData/readChunksEdit.crypt4gh
testData/readChunksBlocks.crypt4gh
testData/chunkDecWantedBlocks.txt
testData/chunkDecEdits.txt
testData/chunkDecBlocks.txt
testData/chunkDec.txt
testData/chunkReencryption.crypt4gh
testData/chunkDecReencryption.txt
testData/chunkRearrangementEdit.crypt4gh
testData/chunkRearrangement.crypt4gh
testData/chunkDecRearrangementEdit.txt
testData/chunkDecRearrangement.txt
testData/pythonkompatibel.txt
testData/kompatibel.c4gh
testData/pythonTestEdit.crypt4gh
testData/pythonTest.crypt4gh
testData/pythonkompatibelRange.txt
testData/kompatibelRange.c4gh
test/8gb.crypt4gh
testData/1gb
testData/1gb.crypt4gh
testData/1gb.txt
testData/1gbcrypto
testData/1gblesen
testData/1gbls
testData/1gblsk
testData/1gblskh
testData/2mb
testData/2mb.crypt4gh
testData/2mb.txt
testData/2mbcrypto
testData/2mblesen
testData/2mbls
testData/2mblsk
testData/2mblskh
testData/8gb
testData/8gb.crypt4gh
testData/8gb.txt
testData/8gbcrypto
testData/8gblesen
testData/8gbls
testData/8gblsk
testData/8gblskh
testData/8gbohneschreiben
testData/16b.crypt4gh
testData/16gb
testData/16gb.crypt4gh
testData/16gb.txt
testData/16gbcrypto
testData/16gblesen
testData/16gbls
testData/16gblsk
testData/16gblskh
testData/16mb
testData/16mb.crypt4gh
testData/16mb.txt
testData/16mbcrypto
testData/16mblesen
testData/16mbls
testData/16mblsk
testData/16mblskh
testData/32kb
testData/32kb.crypt4gh
testData/32kb.txt
testData/32kbcrypto
testData/32kblesen
testData/32kbls
testData/32kblsk
testData/32kblskh
testData/32kbohneschreiben
testData/64gb
testData/64gb.crypt4gh
testData/64gb.txt
testData/64gbcrypto
testData/64gblesen
testData/64gbls
testData/64gblsk
testData/64gblskh
testData/128mb
testData/128mb.crypt4gh
testData/128mb.txt
testData/128mbcrypto
testData/128mblesen
testData/128mbls
testData/128mblsk
testData/128mblskh
testData/256kb
testData/256kb.crypt4gh
testData/256kb.txt
testData/256kbcrypto
testData/256kblesen
testData/256kbls
testData/256kblsk
testData/256kblskh
testData/abcd.crypt4gh
testData/Dec1gb
testData/Dec1gbcrypto
testData/Dec2mb
testData/Dec2mbcrypto
testData/Dec8gb
testData/Dec8gbcrypto
testData/Dec16gb
testData/Dec16gbcrypto
testData/Dec16mb
testData/Dec32kb
testData/Dec32kbcrypto
testData/Dec64gb
testData/Dec64gbcrypto
testData/Dec128mb
testData/Dec256kb
.gitignore
testData/writestream1gb
testData/editCase4values.crypt4gh
testData/Re_abcd.txt
testData/abcd.c4gh
testData/hyperfine_128mb_enc
testData/abcd_ohnepw.c4gh
testData/hyperfine_abcd_enc
testData/hyperfine_1gb_enc
testData/abcd_reenc.c4gh
testData/abcd_rearr.c4gh
testData/Re_abcd_edit.txt
testData/Re_abcd_blockDec.txt
testData/Re_abcd_block.txt
testData/abcd_edit.c4gh
testData/abcd_block.c4gh
testData/Re_abcd_multi.txt
testData/Re_abcd_multi_singleedit.txt
testData/abcd_multi.c4gh
testData/abcd_multi_singleedit.c4gh
testData/abcd_edit_multi.c4gh
testData/Re_abcd_multi_multiedit.txt
testData/abcd_multi_multiedit.c4gh
testData/Re_abcd_reencedit.txt
testData/Re_abcd_rearredit.txt
testData/Re_abcd_rearredit_multi2.txt
testData/Re_abcd_rearredit_multi1.txt
testData/abcd_reenc_edit.c4gh
testData/abcd_rearr_multiedit.c4gh
testData/abcd_rearr_edit.c4gh
testData/c4gh_file(2)
testData/downloadTest.txt
testData/c4gh_file(5)
testData/secret_keyfile
testData/public_keyfile
testData/keytest.c4gh
testData/keytest.c4gh
testData/keytest.c4gh
testData/keytest.c4gh
testData/c4gh_file
testData/parallel1gb.c4gh
testData/parallel.c4gh
testData/keytest.c4gh
testData/keytest.c4gh
testData/hyperfine_enc_parallel
testData/hyperfine_enc_normal
testData/hyperfine_abc_python1gb
testData/hyperfine_abc_python
testData/hyperabcdEnc.c4gh
testData/keytest.c4gh
testData/4gb
undefined.encrypted
vscode-profile-2024-01-30-15-04-53.cpuprofile
vscode-profile-2024-01-30-15-15-25.cpuprofile
vscode-profile-2024-01-30-15-26-43.cpuprofile
testData/abcd_dec.txt
testData/abcd_RE.c4gh
testData/abcd_RE.txt
testData/abcdREA.c4gh
testData/abcdREA.txt
testData/pubkey
testData/seckey
testData/10.txt
testData/52.txt
testData/abcd_editRE.c4gh
testData/abcd_editRE.txt
testData/abcd_RE_edit.c4gh
testData/abcd_RE_edit.txt
testData/re10.c4gh
testData/test.c4gh
testData/test.txt
testData/testEdit.c4gh
testData/testEdit.txt
testData/case3.txt
testData/256kb.c4gh
testData/128mb.c4gh
testData/32kb.c4gh
testData/16mb.c4gh
testData/4gb.c4gh
testData/2mb.c4gh
testData/1gb.c4gh
benchmarking/cW1gb16mbs
benchmarking/cW1gb50mbs
benchmarking/cW1gb100mbs
benchmarking/cW1gb250mbs
benchmarking/cW1gb500mbs
benchmarking/cW2mb16mbs
benchmarking/cW2mb50mbs
benchmarking/cW2mb100mbs
benchmarking/cW2mb250mbs
benchmarking/cW2mb500mbs
benchmarking/cW4gb16mbs
benchmarking/cW4gb50mbs
benchmarking/cW4gb100mbs
benchmarking/cW4gb250mbs
benchmarking/cW4gb500mbs
benchmarking/cW16mb16mbs
benchmarking/cW16mb50mbs
benchmarking/cW16mb100mbs
benchmarking/cW16mb250mbs
benchmarking/cW16mb500mbs
benchmarking/cW32kb16mbs
benchmarking/cW32kb50mbs
benchmarking/cW32kb100mbs
benchmarking/cW32kb250mbs
benchmarking/cW32kb500mbs
benchmarking/cW128mb16mbs
benchmarking/cW128mb50mbs
benchmarking/cW128mb100mbs
benchmarking/cW128mb250mbs
benchmarking/cW128mb500mbs
benchmarking/cW256kb16mbs
benchmarking/cW256kb50mbs
benchmarking/cW256kb100mbs
benchmarking/cW256kb250mbs
benchmarking/cW256kb500mbs
benchmarking/dec1gb16mbs
benchmarking/dec1gb100mbs
benchmarking/dec1gb250mbs
benchmarking/dec1gb500mbs
benchmarking/dec1gb50mbs
benchmarking/dec2mb16mbs
benchmarking/dec2mb50mbs
benchmarking/dec2mb100mbs
benchmarking/dec2mb250mbs
benchmarking/dec2mb500mbs
benchmarking/dec4gb16mbs
benchmarking/dec4gb50mbs
benchmarking/dec4gb100mbs
benchmarking/dec4gb250mbs
benchmarking/dec4gb500mbs
benchmarking/dec16mb16mbs
benchmarking/dec16mb50mbs
benchmarking/dec16mb100mbs
benchmarking/dec16mb250mbs
benchmarking/dec16mb500mbs
benchmarking/dec32kb16mbs
benchmarking/dec32kb50mbs
benchmarking/dec32kb100mbs
benchmarking/dec32kb250mbs
benchmarking/dec32kb500mbs
benchmarking/dec128mb16mbs
benchmarking/dec128mb50mbs
benchmarking/dec128mb250mbs
benchmarking/dec128mb500mbs
benchmarking/dec128mb100mbs
benchmarking/dec256kb16mbs
benchmarking/dec256kb50mbs
benchmarking/dec256kb100mbs
benchmarking/dec256kb250mbs
benchmarking/dec256kb500mbs
benchmarking/enc1gb2_4mbs
benchmarking/enc1gb20mbs
benchmarking/enc1gb40mbs
benchmarking/enc1gb50mbs
benchmarking/enc1gb100mbs
benchmarking/enc1gb200mbs
benchmarking/enc2mb2_4mbs
benchmarking/enc2mb20mbs
benchmarking/enc2mb40mbs
benchmarking/enc2mb50mbs
benchmarking/enc2mb100mbs
benchmarking/enc2mb200mbs
benchmarking/enc4gb20mbs
benchmarking/enc4gb40mbs
benchmarking/enc4gb50mbs
benchmarking/enc4gb100mbs
benchmarking/enc4gb200mbs
benchmarking/enc16mb2_4mbs
benchmarking/enc16mb20mbs
benchmarking/enc16mb40mbs
benchmarking/enc16mb50mbs
benchmarking/enc16mb100mbs
benchmarking/enc16mb200mbs
benchmarking/enc32kb2_4mbs
benchmarking/enc32kb20mbs
benchmarking/enc32kb40mbs
benchmarking/enc32kb50mbs
benchmarking/enc32kb100mbs
benchmarking/enc128mb2_4mbs
benchmarking/enc128mb20mbs
benchmarking/enc32kb200mbs
benchmarking/enc128mb40mbs
benchmarking/enc128mb50mbs
benchmarking/enc128mb100mbs
benchmarking/enc128mb200mbs
benchmarking/enc256kb2_4mbs
benchmarking/enc256kb20mbs
benchmarking/enc256kb40mbs
benchmarking/enc256kb50mbs
benchmarking/enc256kb100mbs
benchmarking/enc256kb200mbs
benchmarking/pW1gb2_4mbs
benchmarking/pW1gb20mbs
benchmarking/pW1gb40mbs
benchmarking/pW1gb50mbs
benchmarking/pW1gb100mbs
benchmarking/pW1gb200mbs
benchmarking/pW2mb2_4mbs
benchmarking/pW2mb20mbs
benchmarking/pW2mb40mbs
benchmarking/pW2mb50mbs
benchmarking/pW2mb100mbs
benchmarking/pW2mb200mbs
benchmarking/pW4gb2_4mbs
benchmarking/pW4gb20mbs
benchmarking/pW4gb40mbs
benchmarking/pW4gb50mbs
benchmarking/pW4gb200mbs
benchmarking/pW16mb2_4mbs
benchmarking/pW16mb20mbs
benchmarking/pW16mb40mbs
benchmarking/pW16mb50mbs
benchmarking/pW16mb100mbs
benchmarking/pW16mb200mbs
benchmarking/pW32kb2_4mbs
benchmarking/pW32kb20mbs
benchmarking/pW32kb40mbs
benchmarking/pW32kb50mbs
benchmarking/pW32kb100mbs
benchmarking/pW32kb200mbs
benchmarking/pW128mb2_4mbs
benchmarking/pW128mb20mbs
benchmarking/pW128mb40mbs
benchmarking/pW128mb50mbs
benchmarking/pW128mb100mbs
benchmarking/pW128mb200mbs
benchmarking/pW256kb2_4mbs
benchmarking/pW256kb20mbs
benchmarking/pW256kb40mbs
benchmarking/pW256kb50mbs
benchmarking/pW256kb100mbs
benchmarking/pW256kb200mbs
benchmarking/pWc4gb100mbs
testData/tp
testData/ts
benchmbits/pW256kb1000mbits
benchmbits/pW256kb500mbits
benchmbits/pW256kb250mbits
benchmbits/pW256kb200mbits
benchmbits/cW1gb20mbits
benchmbits/cW1gb50mbits
benchmbits/cW1gb100mbits
benchmbits/cW1gb250mbits
benchmbits/cW1gb500mbits
benchmbits/cW1gb1000mbits
benchmbits/cW2mb16mbits
benchmbits/cW2mb20mbits
benchmbits/cW2mb50mbits
benchmbits/cW2mb100mbits
benchmbits/cW2mb250mbits
benchmbits/cW2mb500mbits
benchmbits/cW2mb1000mbits
benchmbits/cW4gb20mbits
benchmbits/cW4gb50mbits
benchmbits/cW4gb100mbits
benchmbits/cW4gb250mbits
benchmbits/cW4gb500mbits
benchmbits/cW4gb1000mbits
benchmbits/cW16mb16mbits
benchmbits/cW16mb20mbits
benchmbits/cW16mb50mbits
benchmbits/cW16mb100mbits
benchmbits/cW16mb250mbits
benchmbits/cW16mb500mbits
benchmbits/cW16mb1000mbits
benchmbits/cW32kb16mbits
benchmbits/cW32kb20mbits
benchmbits/cW32kb50mbits
benchmbits/cW32kb100mbits
benchmbits/cW32kb250mbits
benchmbits/cW32kb500mbits
benchmbits/cW32kb1000mbits
benchmbits/cW128mb16mbits
benchmbits/cW128mb20mbits
benchmbits/cW128mb50mbits
benchmbits/cW128mb100mbits
benchmbits/cW128mb250mbits
benchmbits/cW128mb500mbits
benchmbits/cW128mb1000mbits
benchmbits/cW256kb16mbits
benchmbits/cW256kb20mbits
benchmbits/cW256kb50mbits
benchmbits/cW256kb100mbits
benchmbits/cW256kb250mbits
benchmbits/cW256kb500mbits
benchmbits/cW256kb1000mbits
benchmbits/dec1gb20mbits
benchmbits/dec1gb50mbits
benchmbits/dec1gb100mbits
benchmbits/dec1gb250mbits
benchmbits/dec1gb500mbits
benchmbits/dec1gb1000mbits
benchmbits/dec2mb20mbits
benchmbits/dec2mb100mbits
benchmbits/dec2mb500mbits
benchmbits/dec4gb100mbits
benchmbits/dec4gb1000mbits
benchmbits/dec16mb50mbits
benchmbits/dec32kb50mbits
benchmbits/dec128mb100mbits
benchmbits/dec128mb1000mbits
benchmbits/dec2mb50mbits
benchmbits/dec2mb250mbits
benchmbits/dec2mb1000mbits
benchmbits/dec4gb20mbits
benchmbits/dec4gb50mbits
benchmbits/dec4gb250mbits
benchmbits/dec4gb500mbits
benchmbits/dec16mb20mbits
benchmbits/dec16mb100mbits
benchmbits/dec16mb250mbits
benchmbits/dec16mb500mbits
benchmbits/dec16mb1000mbits
benchmbits/dec32kb20mbits
benchmbits/dec32kb100mbits
benchmbits/dec32kb250mbits
benchmbits/dec32kb500mbits
benchmbits/dec32kb1000mbits
benchmbits/dec128mb20mbits
benchmbits/dec128mb50mbits
benchmbits/dec128mb250mbits
benchmbits/dec128mb500mbits
benchmbits/dec256kb20mbits
benchmbits/dec256kb50mbits
benchmbits/dec256kb100mbits
benchmbits/dec256kb250mbits
benchmbits/dec256kb500mbits
benchmbits/dec256kb1000mbits
benchmbits/enc1gb20mbits
benchmbits/enc1gb50mbits
benchmbits/enc1gb100mbits
benchmbits/enc1gb200mbits
benchmbits/enc1gb250mbits
benchmbits/enc1gb500mbits
benchmbits/enc1gb1000mbits
benchmbits/enc2mb2_4mbits
benchmbits/enc2mb20mbits
benchmbits/enc2mb40mbits
benchmbits/enc2mb50mbits
benchmbits/enc2mb100mbits
benchmbits/enc2mb200mbits
benchmbits/enc2mb250mbits
benchmbits/enc2mb500mbits
benchmbits/enc2mb1000mbits
benchmbits/enc4gb20mbits
benchmbits/enc4gb50mbits
benchmbits/enc4gb100mbits
benchmbits/enc4gb250mbits
benchmbits/enc4gb500mbits
benchmbits/enc4gb1000mbits
benchmbits/enc16mb2_4mbits
benchmbits/enc16mb20mbits
benchmbits/enc16mb40mbits
benchmbits/enc16mb50mbits
benchmbits/enc16mb100mbits
benchmbits/enc16mb200mbits
benchmbits/enc16mb250mbits
benchmbits/enc16mb500mbits
benchmbits/enc16mb1000mbits
benchmbits/enc32kb2_4mbits
benchmbits/enc32kb20mbits
benchmbits/enc32kb40mbits
benchmbits/enc32kb50mbits
benchmbits/enc32kb100mbits
benchmbits/enc32kb200mbits
benchmbits/enc32kb250mbits
benchmbits/enc32kb500mbits
benchmbits/enc32kb1000mbits
benchmbits/enc128mb20mbits
benchmbits/enc128mb40mbits
benchmbits/enc128mb50mbits
benchmbits/enc128mb100mbits
benchmbits/enc128mb200mbits
benchmbits/enc128mb250mbits
benchmbits/enc128mb500mbits
benchmbits/enc128mb1000mbits
benchmbits/enc256kb2_4mbits
benchmbits/enc256kb20mbits
benchmbits/enc256kb40mbits
benchmbits/enc256kb50mbits
benchmbits/enc256kb200mbits
benchmbits/enc256kb500mbits
benchmbits/enc256kb100mbits
benchmbits/enc256kb250mbits
benchmbits/enc256kb1000mbits
benchmbits/pW1gb20mbits
benchmbits/pW1gb50mbits
benchmbits/pW1gb100mbits
benchmbits/pW1gb200mbits
benchmbits/pW1gb250mbits
benchmbits/pW1gb500mbits
benchmbits/pW1gb1000mbits
benchmbits/pW2mb2_4mbits
benchmbits/pW2mb20mbits
benchmbits/pW2mb40mbits
benchmbits/pW2mb50mbits
benchmbits/pW2mb100mbits
benchmbits/pW2mb200mbits
benchmbits/pW2mb250mbits
benchmbits/pW2mb500mbits
benchmbits/pW2mb1000mbits
benchmbits/pW4gb20mbits
benchmbits/pW4gb50mbits
benchmbits/pW4gb100mbits
benchmbits/pW4gb250mbits
benchmbits/pW4gb500mbits
benchmbits/pW4gb1000mbits
benchmbits/pW16mb2_4mbits
benchmbits/pW16mb20mbits
benchmbits/pW16mb40mbits
benchmbits/pW16mb50mbits
benchmbits/pW16mb100mbits
benchmbits/pW16mb200mbits
benchmbits/pW16mb250mbits
benchmbits/pW16mb500mbits
benchmbits/pW16mb1000mbits
benchmbits/pW32kb2_4mbits
benchmbits/pW32kb20mbits
benchmbits/pW32kb40mbits
benchmbits/pW32kb50mbits
benchmbits/pW32kb100mbits
benchmbits/pW32kb200mbits
benchmbits/pW32kb250mbits
benchmbits/pW32kb500mbits
benchmbits/pW32kb1000mbits
benchmbits/pW128mb20mbits
benchmbits/pW128mb40mbits
benchmbits/pW128mb50mbits
benchmbits/pW128mb100mbits
benchmbits/pW128mb200mbits
benchmbits/pW128mb250mbits
benchmbits/pW128mb500mbits
benchmbits/pW128mb1000mbits
benchmbits/pW256kb2_4mbits
benchmbits/pW256kb20mbits
benchmbits/pW256kb40mbits
benchmbits/pW256kb50mbits
benchmbits/pW256kb100mbits
testData/cramdec
testData/cramblock.c4gh
testData/cram.c4gh
testData/21541_1#4.cram
testData/32kbdec
testData/2mbdec
testData/1gbdec
test/32kbenclimitlesswriting
test/32kbenclimitless
test/32kbdeclimitlesswriting
test/32kbdeclimitless
test/32kbdec2
test/2mbenclimitlesswriting
test/2mbenclimitless
test/2mbdeclimitlesswriting
test/2mbdeclimitless
test/2mbdec2
test/1gbenclimitlesswriting
test/1gbenclimitless
test/1gbdeclimitlesswriting
test/1gbdeclimitless
SUMMARYFILE
testData/bob.sec
testData/bob.pub
testData/alice.sec
testData/alice.pub
testData/.1gb.swp
test/32kbdecWRITE
test/2mbdecWRITE
test/1gbdecWRITE
1gb.c4gh
test/abcd_pub
test/abcd_sec
test/passwort_pub
test/passwort_sec
test/edit1
test/edit8_decryption
test/edit8
test/edit7_decryption
test/edit7
test/edit6_decryption
test/edit6
test/edit5_decryption
test/edit5
test/edit4_decryption
test/edit4
test/edit3_decryption
test/edit3
test/edit2_decryption
test/edit2
test/edit1_decryption
test/edit9
test/edit9_decryption
test/*